.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.project-type {
    font-size: 30px;
    position: absolute;
    border-radius: .4rem;
    padding-left: 8px;
    padding-right: 8px;
    border-style: solid;
    border-color: #c7c5c3;
    border-width: 2px;
    transition: .2s;
}
.project-name {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%-40px;
    text-align: center;
    transition: .2s;
}
.project-info {
    position: relative;
    padding: 10px;
    top: 100%;
    transition: .2s;
}
.projects-item {
    position: relative;
    height: 300px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 5px;
    border-radius: .8rem;
    border-style: solid;
    border-color: #c7c5c3;
    border-width: 2px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    transform-style: preserve-3d;
    transition: .3s;
}
.projects-item:hover {
    border-color: #0381ff;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,0.5);
}
.projects-item:hover .project-type {
    border-color: #0381ff;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.projects-item:hover .project-name {
    top: 15%;
}
.projects-item:hover .project-info {
    top: 30%;
}

.background {
    position: absolute;
    z-index: 0;
    overflow-y: scroll;
}

body {
    color: #575757;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}
header,footer {
    text-align: center;
    position: relative;
    padding: 50px;
}
